body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: #ffffff;
    }

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 10px;
    /*padding: 15px;*/
    
}

/* 🔹 Банер-кнопка */
.banner {
    /* position: fixed; */
    /* top: 0; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    background: #c42f8d;
    color: white;
    width: 100%;
    max-width: 375px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    z-index: 9999;
}

.banner button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.menu {
    width: 100%;
    margin-top: 15px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.menu a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 16px;
}

.download-btn {
    background: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 240px;
}

.card {
    background: #c42f8d;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    width: 880px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}

.btn-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background: black;
    color: white;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}